NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROFILE_IMAGES_BUCKET=student-profile-images
ADMIN_ALLOWED_EMAILS=admin1@gmail.com,admin2@gmail.com
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
GOOGLE_DRIVE_PARENT_FOLDER_ID=
